<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Learning Oauth2/OIDC</h1>

{{if .IsAuthenticated}}
<p>Hello <b><em>{{ .DisplayName }}</em></b>, thanks for visiting.</p>

<h2> Access Token</h2>

<h3>Received Access Token</h3>

<p>{{ .AccessToken }}</p>

<h3>Access Token Payload</h3>

<pre>
{{ .AccessTokenPayload }}
</pre>



<h2> ID Token</h2>

<h3>Received ID Token</h3>

<p>{{ .IDToken }}</p>

<h3>ID Token Payload</h3>

<pre>
{{ .IDTokenPayload }}
</pre>

<p>This is your current <b>User Info</b><br></p>
<pre>
{{ .UserInfo }}
</pre>


{{ if gt (len .Books) 0 }}

<h2>Books received from the backend with access_token</h2>
<ul>
    {{ range $book := .Books }}
    <li>ID: <b>{{ $book.ID}}</b> Name: <b>{{ $book.Name }}</b></li>
    {{ end }}
</ul>

{{ end }}


{{else}}
<a href="http://localhost:8080/login">Login</a>
{{end}}
</body>
</html>